<div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30" style="height:400px">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">User ID</th>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Date Start</th>
                    <th class="text-center">Date End (Expect)</th>
                    <th class="text-right">Hotel Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <td>@t.ID</td>
                        <td class="text-center">@t.Date</td>
                        <td class="text-center">@t.UserID</td>
                        <td class="text-center">@t.UserName</td>
                        <td class="text-center">@t.DateStart</td>
                        <td class="text-center">@t.DateEnd</td>
                        <td class="text-right">@t.HotelName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

